*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    height: 59vh;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.input-box{
    background: #fff;
    width: 90%;
    max-width: 500px;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 300px auto; 
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
}

.input-box input{
    border: none;
    outline: none;
    background: none;
    width: 100%;
    padding: 10px 0;
    font-size: 36 px;
}

.input-box img{
    width: 35px;
    cursor: pointer;
}
