@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    transition: all 0.3s ease-in-out;
}

body {
    background-color: #bbc9fa;
}

.quote-box{
    background-color: #fff;
    width: 700px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.quote-box h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 40px;
    position: relative;  
}

.quote-box h2::after{
    content: "";
    width: 75px;
    height: 3px;
    background: rgb(23, 124, 229);
    border-radius: 5px;
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
}

.quote-box blockquote{
    font-size: 26px;
    min-height: 110px;
}

.quote-box blockquote::before , .quote-box blockquote::after{
    content: '"';
}

.quote-box span{
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}

.quote-box span::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -30px;
    width: 20px;
    height: 2px;
    background: #333;
}

.quote-box div{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.quote-box div button{
    background: rgb(23, 124, 229);
    color: #fff;
    border-radius: 25px;
    border: 1px solid rgb(23, 124, 229);
    cursor: pointer;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.quote-box div button:nth-child(2){
    background: transparent;
    color: rgb(23, 124, 229);
}

.quote-box div button img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}