*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    padding: 0 7%;
    color: #fff;
}

nav{
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.logo{
    width: 50px;
    cursor: pointer;
}

nav ul{
    flex: 1;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

nav ul li a:hover{
    color: #ff960b;
}

nav .btn{
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;   
    border: 1px solid #fff;
    border-radius: 20px;   
}

nav .btn:hover{
    background: #ff960b;
}

.content{
    margin-top: 12%;
}

.content h1{
    font-size: 88px;
    margin-bottom: 15px;
}

.content h1 span{
    color: #ff960b;
}

.content p{
    font-size: 15px;
    margin-bottom: 20px;
    line-height:22px ;
}

.content .btn{
    display: inline-block;
    margin-top: 30px;
    background: #ff960b;
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
}  

.content .btn:hover{
    background: #fff;
    color: #ff960b;
}

.coin-list{
    position: absolute;
    right: 10%;
    bottom: 50px;
    display: flex;
    align-items: center;
}

.coin{
    display: flex;
    align-items: center;
    margin:0 15px;
    font-size: 14px;
    color: #ff960b;
    border: 1px solid #fff;
    padding: 20px 30px ;
    border-radius: 8px;
}

.coin img{
    width: 40px;
    margin-right: 10px;
} 

.coin h3{
    color: #fff;
    margin-bottom: 5px;
}
