body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, #3b82f6, #9333ea);
  font-family: Arial, sans-serif;
}

.container {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.container h1 {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.time {
  font-size: 5rem;
  color: white;
  margin-bottom: 20px;
}

.date {
  font-size: 1.5rem;
  color: white;
}
